.dart_tool/
.flutter-plugins*
build/
**/local.properties
**/key.properties
**/*.keystore
**/*.jks
.idea/
.vscode/
*.iml
runtime/
diagnostics/
*.log
.env*
!.env.example
**/ephemeral/
**/.gradle/
**/gradle-wrapper.jar
android/.kotlin/
